.c-social {
  &__link:not(:last-child) {
    margin-right: 5px;
  }

  &__link {
    text-decoration: none;

    &-download-span {
      margin-right: 10px;
    }
  }

  &__download-button {
    margin: 0;
  }

  &__button {
    transition: all ease-in-out 0.236s;

    &--download {
      // background-color: #272a52;
      &:hover {
        background-color: darken(#272a52, 10%);
      }
    }

    &--facebook {
      background-color: #3b5998;
      &:hover {
        background-color: darken(#3b5998, 10%);
      }
    }

    &--telegram {
      background-color: #0088cc;
      &:hover {
        background-color: darken(#0088cc, 10%);
      }
    }

    &--whatsapp {
      background-color: #25d366;
      &:hover {
        background-color: darken(#25d366, 10%);
      }
    }

    &--twitter {
      background-color: #1da1f2;
      &:hover {
        background-color: darken(#1da1f2, 10%);
      }
    }
  }

  &__icon {
    font-size: 20px;
    color: white;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    margin-top: 20px;
    text-align: right;
  }
}
