.Card {
  padding: 20px;
  margin-top: 20px;
}
.ButtonProgress {
  color: green;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

.Error {
  background: #d32f2f !important;
}

.Icon {
  opacity: 0.8;
  vertical-align: middle;
  margin-right: 5px;
}
